<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vacation.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @vacation.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vacation.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @vacation.image_url %>
</p>

<%= link_to 'Edit', edit_vacation_path(@vacation) %> |
<%= link_to 'Back', vacations_path %>
